<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>wines</title>
	<style>
         body, html {  height: 100%;margin: 0;}
         .bg {
         
         background-image: url("https://img.grouponcdn.com/deal/2hqF4zf23Tcj5jZjkX7Q/TQ-700x420/v1/c700x420.jpg");
         height: 100%;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;  }


    </style>
</head>
<body>
<div class="bg">
	<div class="inputbox">
		<form method="POST" action="/">
		<label for="inputName">variety</label>
    	<input type="text" id="inputName" name="variety">
		<input type="submit" value="submit">
	</div>
</div>

</form>
<body>
